html, body {
  height: 100%;
}

.legend {
  padding: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  background: rgba(255,255,255, 0.9);
  border-radius: 5px;
}

.legend .outline {
  float: left;
  clear: left;
  margin-bottom: 8px;
}

.legend i {
  color: #777;
  width: 18px;
  height: 18px;
  float: left;
  clear: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend .info-label {
  float: left;
}

#query {
  background-color: white;
  width: 100%;
  height: auto;
  padding: 1em;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom: 1px solid black;
}

.form-inline .form-group {
  margin-right: 1em;
}

.form-control[readonly] {
  background-color: inherit;
  cursor: inherit;
  opacity: inherit;
}

#map {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.angular-leaflet-map {
  flex: 1;
}
